{% extends 'templates/enBasePage.html' %}

{% block title %} Cyper Security {% endblock %}

{% block navbar %}
 <!-- nav -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index#hero">Home</a></li>
          <li class="dropdown"><a href="../LTR/cypersecurity"><span>Cyber Security</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
               {% for cypersecurity in cypersecurity_sub %}
              <li><a href="../LTR/cypersecurity"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{cypersecurity["service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="../LTR/hostservice"><span>Hosting</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for host in host_sub %}
              <li><a href="../LTR/hostservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{host["service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="../LTR/webservice"><span>Website & Application</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
               {% for webservice in webservice_sub %}
                  <li><a href="../LTR/webservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{webservice["service_name"]}}</a></li>
                {% endfor %}

            </ul>
          </li>
          <li><a class="scrollto" href="../LTR/package">Packages</a></li>
          <li><a title="AR" href="/"><span class="badge bg-info link-hover p-2 rounded-circle"><i class="bi bi-translate fs-6"></i></span></a></li>
          <li><a class="getstarted scrollto" href="/login"><span>Login</span></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- /nav -->
{% endblock %}

{% block content %}

  <main id="main" class="page">

    <!--breadcrumb-->
    <section id="الأمن السيبراني" class="breadcrumb-page">
      <div class="container aos-init aos-animate">

        <div class="row justify-content-center about-container">

          <div class="col-lg-6 order-2 order-lg-1 content ">
            <div class="card border-0 shadow-none bg-transparent">
              <div class="card-header bg-transparent border-0" data-aos="fade-up">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold"><i class="bi bi-shield-check fs-2 text-success"></i> Cyber Security</h3>
              </div>
              <div class="card-body text-end p-0" data-aos="fade-up">
                <p class="card-text fs-6 text-secondary lh-lg" style="text-align: justify;">
                  With the change of our world, the need to develop information security is increasing, as information security was previously a hot issue only in the field of technology, but now it has become part of our daily lives.
                  <br> Information security is a concern for all government agencies, military sectors, and private sector companies, and we in turn offer you integrated solutions in the field of cybersecurity through specialized and experienced and efficient employees in the field.               
                </p>              
              </div>
              <div class="card-footer border-0 p-0 bg-transparent text-start" data-aos="fade-up">
                <a href="../LTR/servicerequest" class="btn  hvr-sweep-to-top btn-danger ms-4 me-4">Request Service Now <i class="bi bi-arrow-left"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 order-1 order-lg-2 background aos-init aos-animate" data-aos="zoom-in">
            <img src="../assets/space_secure/assets/img/details-1.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section>
    <!--/breadcrumb-->


    <!-- services section -->
    <section class="services-page">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-diagram-3-fill fs-2 text-success"></i> Classifications of this service </h3>
                <p class="card-text fs-6 text-secondary lh-lg" data-aos="fade-up">
                  Choose one of our services to keep your information and your customers' data safe.                
                </p> 
              </div>
            </div>        
          </div>
        </div>
        <div class="row justify-content-center">

         {% for cypersecurity in cypersecurity_sub %}
          <div class="col-10 col-md-4 col-lg-3 mt-4 mx-2 text-center" data-aos="fade-up">
            <div class="card box-serv">
              <div class="card-header px-4 d-block text-center border-0 bg-transparent">
                <span class="box-icon-se" ><i class="bi bi-shield-shaded fs-1"></i></span>
                <h5 class="card-title fw-bold fs-5 text-white mt-2"> {{cypersecurity["service_name"]}}</h5>
                <a href="" class="btn"></a>
              </div>
              <div class="card-body box-serv-hide pt-0 ">
                <p class="card-text text-white lh-lg fs-6" style="text-align: justify;">
                     {{cypersecurity["service_description"]}}
                </p>
                <a href="../LTR/package" class="btn hvr-sweep-to-top btn-info mt-2"> View Packages <i class="bi bi-arrow-down"></i></a>
              </div>
            </div>
          </div>
           {% endfor %}

        </div>

      </div>
    </section>
    <!-- /services section -->

    <!-- services section -->
    <section class="services-page">
      <div class="container aos-init aos-animate">

        <div class="row justify-content-center  about-container">
          <div class="card border-0 shadow-none bg-transparent">
            <div class="card-header text-center bg-transparent border-0">
              <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-arrow-left-right fs-2 text-success"></i> Our advantages </h3>
              <p class="card-text fs-6 text-secondary lh-lg" data-aos="fade-up">
                Exclusive features provided by the Space Secure Corporation to its customers
              </p>
            </div>
          </div>


          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Network Security</a></h4>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Performance Monitoring</a></h4>
            </div>
          </div>
           <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Application Security</a></h4>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Discovery & Response</a></h4>
            </div>
          </div>
           <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Powerful Resource Hosting</a></h4>
            </div>
          </div>


          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Access and identity management</a></h4>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>Cloud Security & Compliance</a></h4>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- /services section -->

    <!-- /Portfolio Section -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title lh-base fs-4 fw-bold mb-3 text-primary" data-aos="fade-left"><i class="bi bi-briefcase fs-1 text-success"></i> Business Gallery</h3>

              </div>
            </div>        
          </div>
        </div>

        <div class="row owl-carousel owl-theme">

              <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/space_secure/assets/img/customers/customer05.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">SMART PRO</a></h4>
                  <div>
                    <a href="../assets/space_secure/assets/img/customers/customer05.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/space_secure/assets/img/customers/customer03.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Paris Secret</a></h4>
                  <div>
                    <a href="../assets/space_secure/assets/img/customers/customer03.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="../assets/space_secure/assets/img/customers/customer01.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">اسواق ومخابز النعمة</a></h4>
                  <div>
                    <a href="../assets/space_secure/assets/img/customers/customer01.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/space_secure/assets/img/customers/customer02.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#"> شركة بنيان المتحدة</a></h4>
                  <div>
                    <a href="../assets/space_secure/assets/img/customers/customer02.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

         <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/space_secure/assets/img/customers/customer04.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Top center</a></h4>
                  <div>
                    <a href="../assets/space_secure/assets/img/customers/customer04.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- /Portfolio Section -->
  </main><!-- End #main -->

  {% endblock %}


 {% block footer %}
<div class="col-md-6 col-10 col-lg footer-links">
    <h4>Cyber Security</h4>
    <ul>
      {% for cypersecurity in cypersecurity_sub %}
      <li><a href="../LTR/cypersecurity"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{cypersecurity["service_name"]}}</a></li>
      {% endfor %}

    </ul>
  </div>
  <div class="col-md-6 col-10 col-lg footer-links">
    <h4>Hosting services</h4>
    <ul>
      {% for host in host_sub %}
      <li><a href="../LTR/hostservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{host["service_name"]}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-6 col-10 col-lg footer-links">
    <h4>Website & Application design</h4>
    <ul>
      {% for webservice in webservice_sub %}
          <li><a href="../LTR/webservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{webservice["service_name"]}}</a></li>
        {% endfor %}
    </ul>
  </div>

{% endblock %}