<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/space_secure/assets/img/features.svg" rel="icon">
  <link href="assets/space_secure/assets/img/features.svg" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/earlyaccess/notokufiarabic.css' rel='stylesheet' type='text/css'/>
  <link href=' https://fonts.googleapis.com/earlyaccess/droidarabickufi.css' rel='stylesheet' type='text/css'/>
  <!-- /Fonts -->

  <!-- CSS -->
  <link href="assets/space_secure/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/space_secure/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/space_secure/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/space_secure/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/space_secure/assets/vendor/Hover-master/css/hover.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/space_secure/assets/vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/space_secure/assets/vendor/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
  <link href="assets/space_secure/assets/css/style.css" rel="stylesheet">
  <!-- /CSS -->

</head>

<body dir="rtl" class="page">
{% block content %}
{% endblock %}


  <div class="whatsapp-fixed"><a href="https://api.whatsapp.com/send?phone=00966506512697" target="_blank" title="whatsapp"><i class="bi bi-whatsapp"></i></a></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader">
    <img class="img-fluid" src="assets/space_secure/assets/img/features.svg" width="100px" alt="">
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/space_secure/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/space_secure/assets/vendor/aos/aos.js"></script>
  <script src="assets/space_secure/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/space_secure/assets/vendor/jQuery/jquery-3.6.0.min.js"></script>
  <script src="assets/space_secure/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/space_secure/assets/vendor/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/space_secure/assets/js/main.js"></script>


</body>

</html>