{% extends 'templates/arabicBasePage.html' %}

{% block title %} الأمن السيبراني {% endblock %}


{% block navbar %}

  <!-- nav -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero">الرئيسية</a></li>
          <li class="dropdown"><a href="/cypersecurity"><span>خدمة الأمن السيبراني</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for cypersecurity in cypersecurity_sub %}
              <li><a href="/cypersecurity"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{cypersecurity["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="/hostservice"><span>خدمات تقنية</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for host_service in host_sub %}
              <li><a href="/hostservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{host_service["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="/webservice"><span>تصميم المواقع والتطبيقات</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for webservice_service in webservice_sub %}
              <li><a href="/webservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{webservice_service["arabic_service_name"]}} </a></li>
             {% endfor %}
            </ul>
          </li>
          <li><a class="scrollto" href="/package">البـاقـات</a></li>
          <li><a title="EN" href="LTR/"><span class="badge bg-info link-hover p-2 rounded-circle"><i class="bi bi-translate fs-6"></i></span></a></li>
          <li><a class="getstarted scrollto" href="/login"><span>تسجيل الدخول</span></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- /nav -->

{% endblock %}


{% block content %}

  <main id="main" class="page">

    <!--breadcrumb-->
    <section id="الأمن السيبراني" class="breadcrumb-page">
      <div class="container aos-init aos-animate">

        <div class="row justify-content-center about-container">

          <div class="col-lg-6 order-2 order-lg-1 content ">
            <div class="card border-0 shadow-none bg-transparent">
              <div class="card-header bg-transparent border-0" data-aos="fade-up">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold"><i class="bi bi-shield-check fs-2 text-success"></i> خدمات الأمن السيبراني</h3>
              </div>
              <div class="card-body text-end p-0" data-aos="fade-up">
                <p class="card-text fs-6 text-secondary lh-lg" style="text-align: justify;">
                  مع تغيير عالمنا , اصبحت الحاجة إلى تطوير أمن المعلومات في زيادة, حيث كان أمن المعلومات في السابق عبارة عن قضية ساخنة فقط في مجال التكنولوجيا, ولكن الآن أصبح جزءا من حياتنا اليومية, فالأمن المعلوماتي يعتبر مصدر قلق لكل الجهات الحكومية, والقطاعات العسكرية, وشركات القطاع الخاص, ونحن بدورنا نقدم لكم حلولا متكاملة في مجال الأمن السيبراني عبر موظفين متخصصين وذوي خبرة وكفاءة في المجال
                </p>              
              </div>
              <div class="card-footer border-0 p-0 bg-transparent text-start" data-aos="fade-up">
                <a href="/servicerequest" class="btn  hvr-sweep-to-top btn-danger ms-4 me-4">اطلب هذه الخدمة <i class="bi bi-arrow-left"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 order-1 order-lg-2 background aos-init aos-animate" data-aos="zoom-in">
            <img src="assets/space_secure/assets/img/details-1.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section>
    <!--/breadcrumb-->


    <!-- services section -->
    <section class="services-page">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-diagram-3-fill fs-2 text-success"></i> تصنيفات هذه الخدمة </h3>
                <p class="card-text fs-6 text-secondary lh-lg" data-aos="fade-up">
                  اختر احد خدماتنا حتى تحافظ على أمن معلوماتك و ايضا بيانات عملائك                </p> 
              </div>
            </div>        
          </div>
        </div>
        <div class="row justify-content-center">

              {% for cypersecurity in cypersecurity_sub %}
          <div class="col-10 col-md-4 col-lg-3 mt-4 mx-2 text-center" data-aos="fade-up">
            <div class="card box-serv">
              <div class="card-header px-4 d-block text-center border-0 bg-transparent">
                <span class="box-icon-se" ><i class="bi bi-shield-shaded fs-1"></i></span>
                <h5 class="card-title fw-bold fs-5 text-white mt-2">{{cypersecurity["arabic_service_name"]}}</h5>
                <a href="" class="btn"></a>
              </div>
              <div class="card-body box-serv-hide pt-0 ">
                <p class="card-text text-white lh-lg fs-6" style="text-align: justify;">
                    {{cypersecurity["arabic_service_description"]}}
                  </p>
                <a href="/package" class="btn hvr-sweep-to-top btn-info mt-2">عرض الباقات <i class="bi bi-arrow-down"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section>
    <!-- /services section -->

    <!-- services section -->
    <section class="services-page">
      <div class="container aos-init aos-animate">

        <div class="row justify-content-center  about-container">
          <div class="card border-0 shadow-none bg-transparent">
            <div class="card-header text-center bg-transparent border-0">
              <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-arrow-left-right fs-2 text-success"></i> مميزاتنا </h3>
              <p class="card-text fs-6 text-secondary lh-lg" data-aos="fade-up">
                مميزات حصرية توفرها مؤسسة الفضاء الامنة لعملائها               </p>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a>أمن الشبكة </a></h4>
              <p class="description">ضمان الحماية الداخلية والخارجية للبيانات و المعلومات فى الشبكة عن طريق توفير الإجراءات اللازمة للحفاظ عليها من الأخطار التي قد تواجهها</p>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a> إدارة التوصل والهوية </a></h4>
              <p class="description"> توفير أدوات IAM آمنة وسلسة تمكن مسؤولي تكنولوجيا المعلومات أن يتحكموا فى التحقق من هويات المستخدمين عند تسجيل الدخول . </p>
            </div>
          </div>
         
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a> الاكتشاف و الاستجابة </a></h4>
              <p class="description"> إمكانية الكشف عن التهديدات المحتملة للشبكة و توفير استجابة فعالة للحوادث من خلال متخصصون في أمن تقنية المعلومات . </p>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a> الأمن و الامتثال السحابي </a></h4>
              <p class="description"> توفير بيئة سحابية مرنة لحفظ أمن معلوماتك من خلال دمجها فى البنية التحتية الاساسية الخاصة بك</p>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a> مراقبة الأداء </a></h4>
              <p class="description"> مجموعة من الأدوات التى تعمل على مراقبة اداء الشبكة لتحديد أوجه الخلل الموجودة التى قد تؤثر على كفاءتها </p>
            </div>
          </div>
          <div class="col-6 col-md-3 my-4">
            <div class="icon-box shadow aos-init" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
              <h4 class="title"><a> أمن التطبيقات </a></h4>
              <p class="description"> العمل على تحسين أمن التطبيقات بالبحث عن الثغرات الامنية و اصلاحها ، و ذلك لضمان خلوها من أى برمجيات ضارة . </p>
            </div>
          </div>
         
        </div>

      </div>
    </section>
    <!-- /services section -->

     <!-- /Portfolio Section -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title lh-base fs-4 fw-bold mb-3 text-primary" data-aos="fade-left"><i class="bi bi-briefcase fs-1 text-success"></i> معرض أعمالنا</h3>

              </div>
            </div>
          </div>
        </div>

      <div class="row owl-carousel owl-theme">
           <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer05.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">SMART PRO</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer05.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer03.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Paris Secret</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer03.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer01.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">اسواق ومخابز النعمة</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer01.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer02.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#"> شركة بنيان المتحدة</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer02.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

         <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer04.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Top center</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer04.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>

      </div>
    </section>
    <!-- /Portfolio Section -->
  </main><!-- End #main -->

{% endblock %}


{% block footer %}
   <div class="col-md-6 col-10 col-lg footer-links">
            <h4><span> الأمن السيبراني</span></h4>
            <ul>
              {% for cypersecurity in cypersecurity_sub %}
              <li><a href="/cypersecurity"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{cypersecurity["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 col-10 col-lg footer-links">
            <h4><span>الخدمات التقنية</span></h4>
            <ul>
               {% for host_service in host_sub %}
              <li><a href="/hostservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{host_service["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 col-10 col-lg footer-links">
            <h4><span>تصميم المواقع والتطبيقات</span></h4>
            <ul>
               {% for webservice_service in webservice_sub %}
              <li><a href="/webservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{webservice_service["arabic_service_name"]}} </a></li>
             {% endfor %}
            </ul>
          </div>
{% endblock %}