{% extends 'templates/arabicBasePage.html' %}

{% block title %} الصفحة الرئيسية {% endblock %}


{% block navbar %}

  <!-- nav -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/#hero">الرئيسية</a></li>
          <li class="dropdown"><a href="/cypersecurity"><span>خدمة الأمن السيبراني</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for cypersecurity in cypersecurity_sub %}
              <li><a href="/cypersecurity"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{cypersecurity["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="/hostservice"><span>خدمات تقنية</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for host_service in host_sub %}
              <li><a href="/hostservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{host_service["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown"><a href="/webservice"><span>تصميم المواقع والتطبيقات</span><i class="bi bi-plus fs-5 me-1"></i></a>
            <ul>
              {% for webservice_service in webservice_sub %}
              <li><a href="/webservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{webservice_service["arabic_service_name"]}} </a></li>
             {% endfor %}
            </ul>
          </li>
          <li><a class="scrollto" href="/package">البـاقـات</a></li>
          <li><a title="EN" href="LTR/"><span class="badge bg-info link-hover p-2 rounded-circle"><i class="bi bi-translate fs-6"></i></span></a></li>
          <li><a class="getstarted scrollto" href="/login"><span>تسجيل الدخول</span></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- /nav -->

{% endblock %}


{% block content %}
  <!-- hero Section -->
  <section id="hero">

    <div class="container">
      <div class="row py-4 justify-content-center" style="padding-bottom: 50px !important;">
        <div class="col-12 text-center align-self-center">
          <div class="card text-center border-0 shadow-none bg-transparent" data-aos="zoom-out">
            <div class="card-body p-0">
              <h1 class="card-title fs-3 fw-bold me-3 mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"><span>Space Secure</span>  </h1>
              <p class="card-text text-white lh-lg fs-6 me-4 mt-4">  نقدم خدمات استضافة متكاملة بإمكانيات مذهلة تمكنك من الحصول على نتائج متقدمة ,
                <br>استضافة المواقع يسبقها الخطوة ذات الاهمية الكبيرة وهي تصميم الموقع الخاص بك حتى تضمن المزيد من العملاء المستهدفين والمزيد من المبيعات ,
                <br>وحتى تحمي مؤسستك من الهجمات الالكترونية نقدم لك حلول الأمن السيبراني التي تساعد في حماية المؤسسات من الهجمات الإلكترونية .</p>
              <a href="#services" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">خدماتنا<i class="bi bi-chevron-double-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section>
  <!-- /hero Section -->
  <main id="main">

    <!--about-->
    <section id="about" class="about">
      <div class="container aos-init aos-animate">

        <div class="row justify-content-center about-container">

          <div class="col-lg-6 content ">
            <div class="card border-0 shadow-none bg-transparent">
              <div class="card-header bg-transparent border-0" data-aos="fade-up">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold"><i class="bi bi-patch-question-fill fs-2 text-success"></i> تعرف علينا </h3>
              </div>
              <div class="card-body text-end p-0" data-aos="fade-up">
                <p class="card-text fs-6 text-secondary lh-lg" style="text-align: justify;">
                  تعد مؤسسة الفضاء الآمنة من أهم المؤسسات في المملكة العربية السعودية التي تكرس جهودها لتقديم حلول الأمن السيبراني للشركات والمؤسسات من جميع الأحجام.
                  <br>
                  نقدم ايضا خدمات تصميم المواقع والتطبيقات وتقديم استضافة متكاملة بإمكانيات مذهلة تمكنك من الحصول على نتائج متقدمة ,وذلك من خلال فريق متكامل يتميز بالخبرة والكفاءة العالية.
                  <br>
                  نحن نفخر بقدرتنا على تقديم حلول موثوقة وفعالة تحافظ على سلامة وأمان عملائنا في العصر الرقمي.
                </p>
              </div>
              <div class="card-footer border-0 p-0 bg-transparent text-start" data-aos="fade-up">
                <a href="#work" class="btn  hvr-sweep-to-top btn-primary ms-4 me-4">كيف نعمل؟ <i class="bi bi-arrow-left"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-5 background aos-init aos-animate" data-aos="zoom-in">
            <img src="assets/space_secure/assets/img/details-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-12" id="work">
            <div class="row">
              <div class="card border-0 shadow-none bg-transparent">
                <div class="card-header bg-transparent border-0">
                  <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-arrow-left-right fs-2 text-success"></i> كيف نعمل؟ </h3>
                  <p class="card-text fs-6 text-secondary lh-lg" data-aos="fade-up" style="text-align: justify;">
                    مؤسسة الفضاء الآمنة طورت استراتيجياتها الخاصة بتنفيذ المشاريع من خلال رسم وتخطيط التحليل التقني بواسطة تقنيات Workflow ورسم الواجهات الرسومية Sketches ومن ثم تطوير المشروع بتقنية Agile أجايل ونعتبر العميل جزءا من فريق عملنا حيث يتم اطلاع العميل خطوة بخطوة من مراحل التطوير لضمان الجودة المستمرة طوال مراحل المشروع مع ضمان تسليم المشروع بأفضل جودة.
                  </p>
                </div>
              </div>
              <div class="col-6 col-md-3 my-4">
                <div class="icon-box aos-init" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-brightness-alt-high-fill fs-1"></i></div>
                  <h4 class="title"><a>الأفكار</a></h4>
                </div>
              </div>
              <div class="col-6 col-md-3 my-4">
                <div class="icon-box aos-init" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-columns-gap"></i></div>
                  <h4 class="title"><a>التحليل</a></h4>
                </div>
              </div>
              <div class="col-6 col-md-3 my-4">
                <div class="icon-box aos-init" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-arrow-repeat fs-1"></i></div>
                  <h4 class="title"><a>التطوير</a></h4>
                </div>
              </div>
              <div class="col-6 col-md-3 my-4">
                <div class="icon-box aos-init" data-aos="fade-up" data-aos-delay="100">
                  <div class="icon"><i class="bi bi-bricks"></i></div>
                  <h4 class="title"><a>الجودة</a></h4>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
    <!--/about-->


    <!-- services section -->
    <section id="services" class="services">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-hdd-rack fs-2 text-success"></i> خدماتنا </h3>

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 col-md-4 col-lg-3 mt-4 mx-2 text-center" data-aos="fade-up">
            <div class="card box-serv">
              <div class="card-header px-4 d-flex justify-content-center align-items-center border-0 bg-transparent">
                <span class="box-icon-se" ><i class="bi bi-shield-check fs-4"></i></span>
                <h5 class="card-title fw-bold fs-5 text-info mt-2">الأمن السيبراني</h5>
              </div>
              <div class="card-body pt-0">
                <p class="card-text text-secondary lh-lg fs-6" style="text-align: justify;">    نساعدك في العمليات والضوابط الفنية لتحديد البيانات وتصنيفها والتعامل معها بشكل آمن
                  ,ايضا تطوير خطة لتقييم وتتبع الثغرات الأمنية بشكل مستمر. </p>
                <a href="/cypersecurity" class="btn hvr-sweep-to-top btn-primary mt-2 ms-4 me-4">التفـاصيـل <i class="bi bi-arrow-down"></i></a>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-4 col-lg-3 mt-4 mx-2 text-center" data-aos="fade-up">
            <div class="card box-serv box-serv-act">
              <div class="card-header px-4 d-flex justify-content-center align-items-center border-0 bg-transparent">
                <span class="box-icon-se" ><i class="bi bi-file-earmark-code fs-4"></i></span>
                <h5 class="card-title fw-bold fs-6 l text-info mt-2"> تصميم المواقع والتطبيقات</h5>
              </div>
              <div class="card-body pt-0">
                <p class="card-text text-secondary lh-lg fs-6" style="text-align: justify;">
                  تصميم مواقع تضمن لك المزيد من العملاء وزيادة المبيعات.<br>
                  مهمتنا مساعدتك على تصميم موقع الإنترنت والتطبيق الخاص بك حتى نضمن ابهار عملائك وزيادة مبيعاتك.
                  <a href="/webservice" class="btn hvr-sweep-to-top btn-primary mt-2 ms-4 me-4">التفـاصيـل <i class="bi bi-arrow-down"></i></a>
              </div>
            </div>
          </div>
          <div class="col-10 col-md-4 col-lg-3 mt-4 mx-2 text-center" data-aos="fade-up">
            <div class="card box-serv ">
              <div class="card-header px-4 d-flex justify-content-center align-items-center border-0 bg-transparent">
                <span class="box-icon-se" ><i class="bi bi-hdd-network fs-4"></i></span>
                <h5 class="card-title fw-bold text-info mt-2">خدمات تقنية</h5>
              </div>
              <div class="card-body pt-0">
                <p class="card-text text-secondary lh-lg fs-6" style="text-align: justify;">
                  تقديم خدمات استضافة متكاملة بإمكانيات مذهلة تضمن لموقعك الإستمرارية والسرعة للحفاظ على عملائك والحصول على النتائج المتقدمة.                </p>
                <a href="/hostservice" class="btn hvr-sweep-to-top btn-primary mt-2 ms-4 me-4">التفـاصيـل <i class="bi bi-arrow-down"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- /services section -->

    <!-- services section -->
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title fs-4 mb-3 text-primary fw-bold" data-aos="fade-up"><i class="bi bi-diagram-3-fill fs-2 text-success"></i> أخر الباقات </h3>

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center gy-4 mt-2">

          {% for webservice_package in  webservice_package_first%}
          <div class="col-10 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-bag-check-fill fs-1"></i></span>
              <h3>{{webservice_package.package_name}}</h3>
              <h4><sup>SAR</sup>{{webservice_package.price}}</h4>
              <h5><sup>شهرياً</sup></h5>
              <ul>
                <li><i class="bi bi-check"></i>تصميم احترافي: {{webservice_package.professional_design}}</li>
                <li><i class="bi bi-check"></i>تعدد اللغات: {{webservice_package.multi_language}}</li>

                <li>
                {% if webservice_package.logo_design ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                تصميم شعار
                </li>

                <li>
                {% if webservice_package.compatibility_with_browser ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                 التوافق مع المتصفحات
                </li>

                <li>
                {% if webservice_package.multiple_pages ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                أقسام وصفحات غير محدودة
                </li>

                <li>
                {% if webservice_package.live_chat ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                محادثة مباشرة
                </li>

                <li>
                {% if webservice_package.adding__in_google ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                  اضافة الموقع في جوجل
                </li>

                <li>
                {% if webservice_package.photo_and_video_gallery ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                 معرض صور وفيديو
                </li>

                <li>
                {% if webservice_package.adding_social_media_pages ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                 اضافة مواقع التواصل الاجتماعي
                </li>

                <li>
                {% if webservice_package.service_request_forms ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                نموذج طلب خدمة
                </li>

                <li>
                {% if webservice_package.product_and_shopping_cart ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                منتجات مع سلة المشتريات
                </li>

                <li>
                {% if webservice_package.website_stats ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                احصائيات للموقع
                </li>

                <li>
                {% if webservice_package.platform_upgrade ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                التحديث والترقيه للمنصة
                </li>

                <li>
                {% if webservice_package.training__on_dashboard ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                تدريب على لوحة التحكم
                </li>

                <li>
                {% if webservice_package.technical_support ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                الدعم الفني
                </li>

                <li>
                {% if webservice_package.protection_and_security ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                الحماية
                </li>

                {% for features in webservice_package.website_service_features %}
                <li><i class="bi bi-check"></i>{{features.service_features_name_arabic}}</li>
                {% endfor %}

              </ul>
              <a href="/servicerequest" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>
          </div>
          {% endfor %}


          {% for webservice_package_2 in webservice_package_sec %}
          <div class="col-10 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-apple fs-1"></i></span>
              <h3>{{webservice_package_2.package_name}}</h3>
              <h4><sup>SAR</sup>{{webservice_package_2.price}}</h4>
              <h5><sup>شهرياً</sup></h5>
              <ul>
                {% for features in webservice_package_2.applications_service_features %}
                <li><i class="bi bi-check"></i>{{features.service_features_name_arabic}}</li>
                {% endfor %}
              </ul>
              <a href="/servicerequest" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>
          </div>
          {% endfor %}

           {% for host_package in host_package_first %}
          <div class="col-10 col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="pricing-item text-center">
              <span class="box-icon-se" ><i class="bi bi-hdd-network fs-1"></i></span>
              <h3>{{host_package.package_name}}</h3>
              <h4><sup>SAR</sup>{{host_package.price}}</h4>
              <h5><sup>شهرياً</sup></h5>
              <ul>
                <li><i class="bi bi-check"></i>	الرام العشوائي: {{host_package.ram}}</li>
                <li><i class="bi bi-check"></i>	الهارد ديسك: {{host_package.hard_drive}}</li>
                <li><i class="bi bi-check"></i>	الترافيك: {{host_package.traffic}}</li>
                <li><i class="bi bi-check"></i>	المعالج: {{host_package.processor}}</li>
                <li><i class="bi bi-check"></i>	 عدد الملفات: {{host_package.number_of_files}}</li>
                <li><i class="bi bi-check"></i>	عدد الاتصالات في اللحظة: {{host_package.number_of_connections_at_the_moment}}</li>
                <li><i class="bi bi-check"></i>	عدد الايميلات: {{host_package.number_of__emails}}</li>
                <li><i class="bi bi-check"></i>	عدد قواعد البيانات: {{host_package.number_of_databases}}</li>

                <li>
                {% if host_package.ssl_certificate ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                شهادة SSL
                </li>

                <li>
                {% if host_package.ssh_access ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                SSH access
                </li>

                  {% for features in host_package.hosting_service_features %}
                <li><i class="bi bi-check"></i>{{features.service_features_name_arabic}}</li>
                {% endfor %}

                <li>
                {% if host_package.hours_technical_support ==1 %}
                  <i class="bi bi-check"></i>
                {% else %}
                  <i class="bi bi-x"></i>
                {% endif %}
                دعم فني 24 ساعة
                </li>

              </ul>
              <a href="/servicerequest" class="btn  hvr-sweep-to-top btn-outline-success ms-4 me-4">طلب الآن <i class="bi bi-arrow-down"></i></a>            </div>
          </div>
          {% endfor %}


        </div>

      </div>
    </section>
    <!-- /services section -->

        <!-- /Portfolio Section -->
        <section id="clients" class="clearfix">
          <div class="container" data-aos="fade-up">
            <div class="row pb-2 justify-content-center">
              <div class="col-12 text-center">
                <div class="card border-0">
                  <div class="card-body text-center p-1">
                    <h3 class="card-title lh-base fs-4 fw-bold mb-3 text-primary" data-aos="fade-left"><i class="bi bi-check2-square fs-1 text-success"></i> شركاؤنا</h3>

                  </div>
                </div>
              </div>
            </div>
            <div class="row g-0 clients-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo01.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo02.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo03.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo04.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo05.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo06.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo07.png" class="img-fluid" alt="">
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo">
                  <img src="assets/space_secure/assets/img/partners/logo08.png" class="img-fluid" alt="">
                </div>
              </div>

            </div>


          </div>
        </section>
        <!-- /Portfolio Section -->

    <!-- /Portfolio Section -->
    <section id="portfolio" class="clearfix">
      <div class="container" data-aos="fade-up">
        <div class="row pb-2 justify-content-center">
          <div class="col-12 text-center">
            <div class="card border-0">
              <div class="card-body text-center p-1">
                <h3 class="card-title lh-base fs-4 fw-bold mb-3 text-primary" data-aos="fade-left"><i class="bi bi-briefcase fs-1 text-success"></i> معرض أعمالنا</h3>
                <p class="card-text fs-6 text-secondary lh-lg" data-aos="fade-up">
                  هؤلاء الشركاء قدمنا لهم خدمات متنوعة بوابات إلكترونية متكاملة أنظمة داخلية حكومية وسيرفرات داخلية وسحابية وتطبيقات برمجية احترافية.                 </p>
              </div>
            </div>
          </div>
        </div>

      <div class="row owl-carousel owl-theme">

       <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="../assets/space_secure/assets/img/customers/customer05.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">SMART PRO</a></h4>
                  <div>
                    <a href="../assets/space_secure/assets/img/customers/customer05.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer03.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Paris Secret</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer03.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer01.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">اسواق ومخابز النعمة</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer01.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer02.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#"> شركة بنيان المتحدة</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer02.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

         <div class="portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-12 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/space_secure/assets/img/customers/customer04.png" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Top center</a></h4>
                  <div>
                    <a href="assets/space_secure/assets/img/customers/customer04.png" class="portfolio-lightbox link-preview" data-gallery="portfolioGallery" title="Web 3"><i class="bi bi-plus"></i></a>
                    <a href="#" class="link-details" title="More Details"><i class="bi bi-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>

      </div>
    </section>
    <!-- /Portfolio Section -->

    <section id="contact" class="pt-4 pb-4 ">
      <div class="container">
        <div class="row py-4">
          <div class="col-11">
            <div class="card my-4 bg-white rounded-4 shadow border-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-lg-5 text-end">
                    <div class="card border-0 shadow-none bg-transparent">
                      <div class="card-header text-end bg-transparent border-0">
                        <h3 class="card-title fs-4 mb-3 text-primary fw-bold"><i class="bi bi-chat-right-dots-fill fs-2 text-success"></i> اتصل بنا </h3>
                      </div>
                  </div>

                    <div class="form text-end">
                      <form  onsubmit="submitData(event)" method="post" role="form" class="php-email-form">
                        <div class="row">
                          <div class="form-group mt-3">
                            <input type="text" class="form-control" name="name" id="name" placeholder="اسمك هنا"  required>
                          </div>
                          <div class="form-group col-lg-6 mt-3">
                            <input type="tel" name="tel" class="form-control" id="tel" placeholder="رقم الجوال" required>
                          </div>
                          <div class="form-group col-lg-6 mt-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="البريد الإلكترونـي" required>
                          </div>
                        </div>
                        <div class="form-group mt-3">
                          <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" required>
                        </div>
                        <div class="form-group mt-3">
                          <textarea class="form-control" name="message" id="message" rows="5" placeholder="التفاصيل" required></textarea>
                        </div>
                        <div class="my-3">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">تم الإرسال بنجاح ، سنجيب على استفساركم في أسرع وقت ، شكراً لكم</div>
                        </div>
                        <div class="text-center"><button type="submit"   title="Send Message" class="btn  hvr-sweep-to-top btn-outline-success">إرسال الرسالة</button></div>
                      </form>
                    </div>
                  </div>
                  <div class="col-12 col-lg-4 my-4 align-self-center">
                    <div class="info">
                      <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>رقم الهاتف:</h4>
                        <p>+966506512697</p>
                      </div>

                      <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>البريد الإلكتروني:</h4>
                        <p>info@spacesecur.com</p>
                      </div>

                      <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>العنوان:</h4>
                        <p> المملكة العربية السعودية ، الرياض ، الملز ، شارع زيد بن ثابت</p>
                      </div>

                      <div class="time">
                        <i class="bi bi-phone"></i>
                        <h4>ساعات العمل:</h4>
                        <p>السبت - الخميس: </p>
                        <p><span>8:00 - 3:30</span></p>
                      </div>

                    </div>

                  </div>
                  <div class="col-12 col-lg-3 text-end">
                    <div class="map mt-4">
                      <iframe style="border: 3px solid var(--bs-info);" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3625.552755041714!2d46.7308631!3d24.673518400000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f055f78ca7e71%3A0xcc683f21d51947d2!2zU3BhY2Ugc2VjdXJlIHwg2YXYpNiz2LPYqSDYp9mE2YHYttin2KEg2KfZhNii2YXZhtmH!5e0!3m2!1sen!2ssa!4v1679753942995!5m2!1sen!2ssa" width="350" height="350" ></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
<!-- End #main -->

{% endblock %}


{% block script %}

  <script>{% include "templates/includes/servicerequest.js" %}</script>
{% endblock %}


{% block footer %}
   <div class="col-md-6 col-10 col-lg footer-links">
            <h4><span> الأمن السيبراني</span></h4>
            <ul>
              {% for cypersecurity in cypersecurity_sub %}
              <li><a href="/cypersecurity"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{cypersecurity["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 col-10 col-lg footer-links">
            <h4><span>الخدمات التقنية</span></h4>
            <ul>
               {% for host_service in host_sub %}
              <li><a href="/hostservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{host_service["arabic_service_name"]}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 col-10 col-lg footer-links">
            <h4><span>تصميم المواقع والتطبيقات</span></h4>
            <ul>
               {% for webservice_service in webservice_sub %}
              <li><a href="/webservice"><i class="bi bi-check-circle fs-3 text-info mx-2"></i>{{webservice_service["arabic_service_name"]}} </a></li>
             {% endfor %}
            </ul>
          </div>
{% endblock %}